
  body {
    padding-left: 11em;
    padding-right: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
    background-color: #d8da3d }
  body {text-align: center;}

  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
h1 {text-align: center;}

video { widht="300" controls}

